.presence {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;

    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3vw 7vw;
        background: $grey-color;
        text-align: center;
        border-radius: 3vw 0;
        box-shadow: 0 0.208vw 0.313vw rgba(0, 0, 0, 0.1);
        border: 1vw solid $super-light-gray-color;
    }
    
    &__question {
        @include title;
        margin-bottom: 2vw;
    }

    &__btn {
        @include button;
    }
}