$black-color: #212121;
$dark-gray-color: #646464;
$grey-color: #C4C4C4;
$soft-grey-color: #D5D5D5;
$light-gray-color: #EEEEEE;
$super-light-gray-color: #F8F8F8;
$white-color: #FFFFFF;
$green-color: #37806B;
$light-orange-color: #FDDAB1;
$light-brown-color: #CAA892;
$brown-color: #B0855B;
$red-color: #C41B1B;